#course-search {
  margin: 0 auto;
}

#course-result {
  margin: 0 auto;
}
.carousel-control-next {
  position: fixed;
}

.carousel-indicators {
  position: fixed;
}

.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  position: relative;
  left: 30px;
}
